---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage={AboutHeroImage}
>
	<p>
		Steaks have always been special to me. It was the first thing I learned to cook and first thing I made for my family. It's an incredible meat that is used for special occassions and can be daunting to cook, but once you learn it you realize quickly it's not bad! I hope this blog encourages you to try cooking steak on your own!
	</p>

	<p>
		
	</p>
		
	<p>
		
	</p>

	<p>
		
	</p>
</Layout>
